<header class="navbar navbar-default navbar-fixed-top app-header">
  <div class="head">
    <img class="app-logo" src="/assets/img/logo.png"><span>{{ title }}</span>
  </div>
  <div class="head header-menu">
    <nav class="app-menu">
      <ul>
        <li><a routerLink="home" [ngClass]="{'active': selectedMenu === 1}" (click)="navigateMenu(1)">Home</a></li>
        <li><a routerLink="about" [ngClass]="{'active': selectedMenu === 2}" (click)="navigateMenu(2)">About</a></li>
        <li class="pull-right" (click)="logoutUser()">Logout </li>
      </ul>
    </nav>
  </div>
</header>
 