.app-title{
	font-size: 22px;
	margin-top: 20px;
	padding: 10px 0 0 10px;
}
.head{
    display: inline-block;
}
.head ul{
    padding-left: 0;
}
.app-logo{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
ul li a{
    color: #C40062;
    font-weight: bold;
    font-size: 15px;
}
ul li a.active{
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    margin-right: 10px;
}
.app-menu{
	height:20px;
	padding-bottom: 10px;
}
.app-header{
    background-color: #990952;
    background-image: none;
}